:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgr-color: #f5f4fa;
  --secondary-bgr-color: #2f303a;
  --footer-bgr-item-color: rgba(255, 255, 255, 0.6);
  --logo-primary-color: #2196f3;
  --logo-top-color: #000000;
  --logo-bottom-color: #ffffff;
  --accent-hero-btn: #188ce8;
  --primary-brd-color: #afb1b8;
  --secondare-brd-colod: #eeeeee;
  --hero-bgr-color: #c4c4c4;
  --footer-bgr-social-link-color: rgba(255, 255, 255, 0.1);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----сбрасываем margin and other-------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* цвет и фон страницы */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.centered {
  text-align: center;
}

/* ------------геометрия section------------ */

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----HEADER------- */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--logo-primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-black {
  color: var(--logo-top-color);
}

.nav-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current::after {
  position: absolute;

  content: "";
  display: block;
  bottom: -1px;
  right: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-main {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  gap: 50px;
}

.nav-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.nav-contacts-item .link {
  display: flex;
  justify-content: center;
  align-content: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color var(--timing-function);
}

.nav-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-contacts-item .link:hover,
.nav-contacts-item .link:focus {
  color: var(--accent-color);
}

/* ------- HERO ------- */

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-bgr-color);
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  min-width: 216px;
  height: 50px;

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;

  transition: background-color var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-hero-btn);
}

/* ------- FEATURE ------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-thumb {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: var(--primary-bgr-color);
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -------------- WORK ---------------- */

.work-title {
  margin-bottom: 50px;
}

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-thumb {
  position: relative;
}

.work-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.work-text {
  position: absolute;
  left: 50%;
  bottom: 27px;
  transform: translate(-50%);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* ---------- TEAM ------------ */

.team {
  background-color: var(--primary-bgr-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-list-item {
  flex-basis: calc((100% - 90px) / 4);

  background: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-content {
  padding-top: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  margin-bottom: 30px;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-brd-color);

  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* ------------ CLIENTS ----------------*/

.clients {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-brd-color);
  border-radius: 4px;

  color: var(--primary-brd-color);

  transition: border var(--timing-function), color var(--timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* ------------- FILTERS ------------ */

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}

.filters-button {
  display: inline-block;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--primary-bgr-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------- PORTFOLIO ------------ */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 60px) / 3);

  background: var(--primary-white-color);
}

.portfolio-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in-out;
  transform: translateY(100%);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.sign {
  padding: 20px 24px;
  border: 1px solid var(--secondare-brd-colod);
  border-top: 1px solid transparent;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ---------- FOOTER ----------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bgr-color);
}

.wrap {
  display: flex;
  align-items: baseline;
}

.logo.footer {
  margin: 0;
  padding: 0;
}

.address {
  margin-top: 20px;
}

.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.logo-white {
  color: var(--logo-bottom-color);
}

.footer-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-bgr-item-color);
  transition: color var(--timing-function);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-social-title {
  display: flex;
  margin-top: 20px;
  width: 206px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  height: 44px;
  width: 44px;

  background-color: var(--footer-bgr-social-link-color);
  color: var(--primary-white-color);
  transition: background-color var(--timing-function);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-request {
  margin-left: auto;
}

.footer-form-request {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-form-input {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  background-color: transparent;
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-button-label {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer-button-icon {
  fill: currentColor;
}

/* ----------------- Бэкдроп и модальное окно ----------------- и */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms ease-in-out;
  padding: 40px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color var(--timing-function);
}

.modal-icon {
  fill: currentColor;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  color: var(--accent-color);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

/* ---------------- ФОРМА -------------------- */

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  padding: 12px 12px 12px 32px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: border var(--timing-function);
  outline: none;
  cursor: pointer;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 31px;
  display: inline-block;
  fill: var(--primary-text-color);
  transition: fill var(--timing-function);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-comment {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border var(--timing-function);
  outline: none;
  cursor: pointer;
}

.form-comment:focus {
  border: 1px solid var(--accent-color);
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: fill var(--timing-function), background-color var(--timing-function), background-image var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-input:hover + .checkbox-icon {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-input:focus + .checkbox-icon {
  fill: var(--accent-color);
}

.checkbox-label {
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.request-button {
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color var(--timing-function);
}

.request-button:hover,
.request-button:focus {
  background-color: var(--accent-hero-btn);
}
